* { 
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

body { 
      background-color: #1e1c1f;
      font-family: "Roboto", sans-serif;
}


#player-1 { 
  width: 300px;
  height: 500px;
  border-radius: 15px;
    
}

#player-1 .wrapper { 
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 16.8rem;
  height: 20.5rem;
  background-color: #463569;
  border-radius: 8px;
    
}

img { 
width: 250px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-radius: 8px;

}

.card { 
  background-color: #392958;
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
  width: fit-content;

}

.song-info { 
    text-align: center;
    color:#8162be;
    opacity: 0.9;
    margin-top: 30.5vh;

}

.song-info .title {
    font-size: 22px;
    font-weight: 700;

}

.song-info .artist {
    font-size: 15px;
    
}

.btn-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 80%; 
  transform: translate(-50%, -50%);
  gap: 20px;

}

button { 
background: none;
border: none;
cursor: pointer;
color: white;

}

svg {
fill: white;

}

.menu { 
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
}

.play { 
  width: 3.9rem;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
      }

.next { 
  width: 1.5rem;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);

}

.previous { 
  width: 1.5rem;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

