* { 
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

body { 
      background-color: #1e1c1f;
      font-family: "Roboto", sans-serif;
}

.card { 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 600px;
  border-radius: 5px;
  background: linear-gradient(266deg, rgb(40, 30, 59) 0%, rgba(66,46,105,1) 28%, rgb(89, 61, 146) 49%, rgba(66,46,105,1) 68%, rgb(37, 27, 56) 100%); 

}

.wrapper { 
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    background: #1e1c1f;
    width: 270px;
    height: 325px;
    border-radius: 8px;
    z-index: 0;
}

.img-card { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img { 
  width: 255px;
  height: 305px;
  object-fit: cover;
  z-index: 1;
  opacity: 0.5;
  border-radius: 4px;
}

.info-box { 
  position: absolute;
  background: linear-gradient(0deg, rgba(59,59,59,1) 0%, rgba(69,69,69,1) 8%, rgba(92,92,92,1) 26%, rgba(105,105,105,1) 49%, rgba(92,91,91,1) 78%, rgba(70,69,69,1) 93%, rgba(43,43,43,1) 100%);
  width: 16rem;
  height: 1.2rem;
  left: 50%;
  top: 5%; 
  transform: translate(-50%, -50%);
}

.playing { 
color: #dadada;
font-size: 13px;
font-weight: bold;
text-align: center;
align-items: center;
margin-top: 2px;


}

.song-card { 
  position: absolute;
  left: 50%;
  top: 85.6%; 
  transform: translate(-50%, -50%);
  background: #000000b2;
  width: 255px;
  height: 70px;
}

.song-info { 
    display: flex;
    color: #ebebeb;
    opacity: 0.9;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10px;
}

.song-name { 
    text-align: center;
}
.music {
    font-size: 15px;
    font-weight: 700;
}

.artist {
    font-size: 13px;

}

.time {
display: flex;
gap: 12.2rem;
font-size: 10px;
font-weight: bolder;

}

.track {
position: relative;
margin-top: 10px;
}

.track::before { 
content: '';
height: 6px;
width: 8.1rem;
display: block;
background: linear-gradient(0deg, rgba(23,82,117,1) 0%, rgb(66, 149, 221) 47%, rgb(172, 208, 255) 100%);
left: 12%;
position: absolute;
z-index: 2;
}

.track::after { 
content: '';
height: 6px;
width: 11.5rem;
display: block;
opacity: 0.8;
background: #ffffff;
left: 13.5%;
position: absolute;
z-index: 1;

}

.btn-box {
  position: absolute;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  left: 50%;
  top: 80%; 
    background: radial-gradient(circle, rgba(230,230,230,1) 0%, rgba(194,195,195,1) 47%, rgba(175,175,175,1) 100%);
  transform: translate(-50%, -50%);
  box-shadow: inset 0 2px 4px rgb(102, 89, 112),
              0 1px 2px rgba(207, 18, 18, 0.1);
}

.btn-circle {
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  left: 50%;
  top: 80%; 
  background-color: #392958;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0px 2px rgb(102, 89, 112),
              0 1px 2px rgba(207, 18, 18, 0.1);

}

button { 
background: none;
border: none;
cursor: pointer;
}

svg {
fill: #949494;
stroke: #949494;
}


#play { 
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  width: 1.6rem;
}

#menu { 
  position: absolute;
  left: 50%;
  top: 71%;
  transform: translate(-50%, -50%);
  color: #949494;
  font-size: 0.7rem;
  font-weight: 800;
}

#previous { 
  position: absolute;
  left: 30%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 1.2rem;
}

#next-btn {
  position: absolute;
  left: 70%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 1.2rem;
}


#play, #previous, #next, svg:active {
 fill: #5e5e5e;
 stroke:#5e5e5e;
}

#menu:active {
color: #5e5e5e;
}